body {
    
    background-color: black;
  }

  .contentDiv {
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 5px;
    border: 5px solid white;
    border-radius: 15px;
    background-color: rgb(63, 58, 61);
  }

  .myInfo {
    align-items: center;
    display: flex;
    border: 4px solid gray;
    gap: 10px;
  }

  .myInfo img{
    width: 200px;
    height: auto;
  }

  .myInfo ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

nav {
    position:relative;
    top: 0;
    z-index: 1000;
    background-color: black;
}
.navUl {
    border-radius: 0 0 15px 15px;
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 10px;
}


.navUl li a{
    display: block;
    color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
}

.logo a{
    font-family: sans-serif;
    font-size: larger;
    display: block;
    color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

ul li a:hover{
    background-color: red;
}

h1{

    color: white;
    text-align: center;
}
h3, h4, p , ol, ul {
    color: white;
}

span{
    border-radius: 15px;
    padding: 5px;
    background-color: black;
}
a.soralink, a.resumeLink{
    margin: 5px solid white;
    padding: 5px;
    border: 5px;
    border-radius: 25px;
    background-color: black;
    color: white;
}
a.soralink:hover, a.resumeLink:hover{
    background-color: red;
}

table, th, td{
    color: white;
    background-color:black;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
}

td{
    text-align: left;
}

.grid-container{
    display: grid;
    gap: 20px;
    padding: 10px;
    border: 1px solid black;
    grid-template-columns: 1fr;
}

@media (min-width: 950px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .navUl{
        flex-direction: column;
        align-items: column;
    }
    .navUl li {
        width: 100%
    }
}

@media(max-width: 600){
    .myInfo{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.story-board{
    height: auto;
    width: 600px;
}